body {
    background-color: rgb(28, 19, 53);
    margin: 0px;
}

h1 {
    font-family: cursive;
    font-size: 50px;
    font-weight: 900;
    color: white;
}


.header {
    background-color: rgb(27, 32, 125);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5% 5px 4%;
    flex-wrap: wrap;
    /* height: 100%; */
    color: white;
    /* position: absolute; */
    top: 0px;
    left: 0px;
    width: 91vw;
    position: sticky;
    /* height: 10vh; */
    z-index: 25;
}

.btn {
    background-color: rgb(11, 13, 42);
    width: 150px;
    height: 40px;
    margin: 10px;
    font-size: 15px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.2s ease-in;
    cursor: pointer;

}

.btn:hover {
    box-shadow: 3px 3px 10px white, -3px -3px 10px white;
}

.btns {
    width: 50%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    min-width: 700px;
    justify-self: center;
}

@media (max-width:775px) {
    .btns {
        flex-wrap: wrap;
        min-width: 80%;
        /* background-color: red; */
        font-size: 18px;
    }



}


.para {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(2, 2, 2);
}

.main {
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content: space-around;
    /* height: 70vh; */
    padding: 20px;
    /* flex-wrap: wrap; */
    /* background-color: #00FFFF; */
    margin-top: 100px;
}

.temp {
    color: #00FFFF;
    font-size: 70px;
    font-family: fantasy;
    margin-bottom: 80px;
}

.main23 {
    width: 65%;
    /* background-color: blue; */
    /* border: 4px solid black; */

}

.bars {
    /* border: 2px solid black; */
    position: relative;
    /* top: 100px; */
    /* left: 150px; */
    display: flex;
    justify-content: center;
    position: relative;
    /* width: 100%; */
    font-size: 50px;
    color: #00FFFF;
    /* background-color: red; */
    /* margin-top: 20px; */
}

.bar {
    height: 70vh;
    width: 30px;
    background-color: green;
    margin: 0px 0.5vw;
    font-size: 20px;
    text-align: center;
    color: white;
    transition: transform 0.5s ease;
    animation: slow 2s ease-in-out 0.5s 1 normal;
    transition: transform 0.5s ease, top 0.5s ease, left 0.5s ease;
}


.ipt-des {
    height: 30px;
    color: black;
    border: 2px solid gold;
    box-shadow: 2px 2px 5px gold;
    border-radius: 8px;
    font-size: medium;
    font-weight: 700;
    position: relative;
    /* top: 10px; */
    margin-right: 10px;
}

.reset {
    /* background-color: rgb(11, 13, 42); */
    /* background-color: red; */
    width: 150px;
    height: 40px;
    margin: 10px;
    font-size: 15px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    /* transition: 0.2s ease-in; */
    /* position: relative;
    top: 100px;
    bottom: 0px; */
    opacity: 0;
    float: right;
    z-index: 300;
}

@media (max-width:1100px) {

    /* .main {
        flex-wrap: wrap;
    } */

    .reset {
        /* background-color: red; */
        width: 25vw;
    }

    .bar {
        width: 20px;
        font-size: 17px;
    }

    .header {
        justify-content: center;
    }

    .ipt-des {
        width: 150px;
    }
}

.reset:hover {
    box-shadow: 3px 3px 10px white, -3px -3px 10px white;
    cursor: pointer;
}





























.sort-cover {
    background: linear-gradient(to top left, rgba(77, 75, 75, 0.46) 20%, rgba(27, 27, 27, 1) 60%, rgba(36, 36, 36, 1) 70%, rgb(49, 49, 49) 100%);



    /* min-height: 170vh; */
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    /* top: 40px; */
}

.none {
    display: none;
}

.info-parent {
    width: 100%;
    display: inline-block;
    margin-top: 50px;
    color: white;
}

.sort-description {
    font-size: 22px;
    margin-left: 5%;
    float: left;
    max-width: 70%;
    text-align: justify;
}

@media only screen and (max-width: 1100px) {
    .sort-description {
        max-width: 90%;
        font-size: 20px;
    }
}


.table-box {
    /* margin-left: 5%; */
    /* margin-right: 7%; */
    /* width: 20%; */
    text-align: left;
    font-size: 22px;
    /* margin: 2%; */
    color: #00FFFF;
    /* height: 340px; */
    /* background-color: blue; */
    /* border: 4px solid black; */
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* opacity: 0; */
    display: none;
    /* text-align: center; */
}

.sort-table {
    margin-top: 30px;
    border-collapse: collapse;
    border-radius: 5px;
    border-style: hidden;
    margin-top: 10px;
}


.sortbtn {
    width: 180px;
    position: relative;
    height: 50px;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
    /* opacity: 0; */
}

.sortbtn::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: rgb(28, 19, 53);
    transition: 0.5s;
    transform-origin: center;
}

.sortbtn::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: rgb(28, 19, 53);
    transition: 0.5s;
}

.sortbtn:hover::before,
button:hover::after {
    transform: scale(0)
}

.sortbtn:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}
















.menu-box {
    margin-top: 80px;
    margin-left: 5%;
    margin-bottom: 50px;
    color: white;
    width: 60%;
}

@media only screen and (max-width: 1075px) {
    .main {
        flex-wrap: wrap;
    }

    .table-box {
        width: 50%;
    }

    .main23 {
        width: 90%;
    }

    .menu-box {
        width: 90%;
        /* background-color: green; */
    }

}

@media only screen and (max-width: 735px) {


    .table-box {
        width: 100%;
        font-size: 18px;
    }

    .main {
        justify-content: center;
    }

    .main23 {
        width: 100%;
    }

    .header {
        position: relative;
    }

    .temp {
        font-size: 50px;
    }



    /* .btns {
        display: none;
    } */


}



.sort-table tr {
    border: 2px solid #d17f3f;
    ;
}

.sort-table th {
    border-right: 2px solid #d17f3f;
}

.sort-table th,
td {
    padding: 10px;
}





#menu-code {
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
    background-color: rgb(22, 22, 22);
    min-width: 100%;
    display: inline-block;
    border: 2px solid #d17f3f;
    min-height: 70vh;
}

@media only screen and (max-width: 1100px) {
    #menu-code {
        font-size: 20px;
        width: 100%;
    }
}

.menu-btns {
    width: 100%;
    height: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 1100px) {
    .menu-btns {
        width: 100%;
    }

}

.menu-btns button {
    color: inherit;
    font-size: 20px;
    height: inherit;
    width: 20%;
    float: left;
    border: none;
    border-right: 2px solid #d17f3f;
    border-bottom: 2px solid #d17f3f;
    background-color: rgb(53, 53, 53);
    outline: none;
}

.menu-btns button:first-child {
    border-bottom: none;
    background-color: transparent;
}


.menu-btns img {
    transition: 0.2s;
}

.menu-btns button:hover img {
    width: 40px;
    height: 40px;
}


.menu-btns button:first-child {
    border-top-left-radius: 10px;
}

.menu-btns button:last-child {
    border-bottom-right-radius: 10px;
}

.menu-btns-activated {
    background-color: rgb(22, 22, 22) !important;
    border-bottom: none !important;
}

.menu-btns-activated:last-child {
    border-right: none !important;
}

.menu-btns-activated img {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 1100px) {
    .menu-btns button {
        font-size: 14px;
    }

    .menu-btns button:last-child {
        border-right: none;
    }
}

#code {
    overflow: hidden;
    /* white-space: pre-wrap; */
    line-height: 30px;
    /* color: #1479EA; */
    font-family: 'Times New Roman', Times, serif;
}

#code-content {
    overflow: scroll;

}

::-webkit-scrollbar {
    display: none;
}



#code-content pre {
    margin: 10px;
}


footer {
    background-color: rgb(11, 13, 42);
    /* height: 130px; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.f1 {
    width: 40%;
    min-width: 200px;
    font-size: 1.2em;
    color: white;
    padding: 10px;
}

.f2 {
    min-height: 100px;
}

.icons,
.copyright {
    height: 50%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    gap: 1.5em;
}

.icons i:hover {
    transform: scale(1.3);
    transition: 0.2s ease-in-out;
    box-shadow: 2px 2px 10px white, -2px -2px 10px white;
}

.icons a {
    text-decoration: none;
    color: #00FFFF;
}

.icons a:visited {
    text-decoration: none;
    color: #00FFFF;
}